name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'
        
    - run: npm ci
    - name: Lint Code
      run: npm run lint
    - name: Prepare settings from template
      run: cp src/settings.template.json src/settings.json
    - name: Type Check
      run: tsc --noEmit
    - name: Build
      run: npm run build
    - name: Run Tests
      run: npm test